body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.modalheader{
  padding-top: 7px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
}

.comment {
  padding-right: 28px;
}

.perEx {
  margin-left: 20px;
    margin-top: 30px;
}

.rowContent th center{
  padding-right: 30px;
    padding-left: 29px;
}